table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
}


td {
    height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    transition: all 0.5s ease;
}

.active-cell {
    transition: all 0.5s ease;
    background-color: teal;
}

.inactive-cell {
    background-color: white;
}



.form-inputs-line {
    text-align: center;
    margin: 10px;
}

.content {
    width: 80%;
    margin: 0 auto;
}